<head>
    <title>Дама сдавала багаж | С.Маршак</title>
    <style>
      body {
        background: blue;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li> 
            <a href="/">Главная страница</a>
          </li>
          <li>
            <a href="about/">О сайте</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      Дама сдавала багаж:
      <ul>
        <li>Диван,</li>
        <li>Чемодан,</li>
        <li>Саквояж...</li>
      </ul>
    </main>
  </body>